.idea
*.xlsx
*.json
.python-version
/KoBERT_nsmc
.ipynb_checkpoints
sort.ipynb
ratings_test.txt
ratings_train.txt
_archived/
univ_wordclouds/
univ_wordclouds_mecab/
univ_wordclouds_okt/
create_file.ipynb
user_stats
KoBART
KoBART-summarization
*.pdf
*.pptx
__pycache__